<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.aria2c</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/aria2c</string>
		<string>--rpc-listen-all=true</string>
		<string>--rpc-allow-origin-all</string>
		<string>--conf-path=/Users/whzecomjm/.aria2/aria2.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
